<div class="banner-area-joinme">
      <div class="content-area-joinme">
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"
              >Email</label>
            <input
              type="email"
              name="email"
              placeholder="abc@example.com"
              class="form-control"
              id="email"
              required/>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"
              >Пароль</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
              required/>
          </div><button class="joinme-button" type="submit" name="submit">Login</button>
          </div>
          
        </form>
        <a href ="register.ejs">Register</a>
      </div>
    </div>
   
  </div>