* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  opacity: 90%;
}
.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
  margin: 1vh 1vh;
  margin-right: 0vh;
  padding: 2vh;
}
.nav-links a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Oswald", serif;
  font-size: larger;
}
.nav-links li {
  list-style: none;
}
.logo img {
  zoom: 200%;
  padding-left: 2vh;
}

/* JOIN NOW BUTTON */

.register-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  color: #f45fe3;
  background: transparent;
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 5px;
  border-color: #f45fe3;
  font-family: "Oswald", serif;
  font-weight: 500;
}
.register-btn:hover {
  background: #f45fe3;
  font-weight: 450;
  border: none;
  color: #333333;
  box-shadow: 0 0 5px #f45fe3, 0 0 25px #f45fe3, 0 0 50px #f45fe3,
    0 0 200px #f45fe3;
}

/* HOME PAGE */
.banner-area {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../media/Lifting.jpg");
  background-size: cover;
}
.content-area {
  height: 100%;
}
.content {
  max-width: 75%;
  padding: 80px 250px 60px 200px;
}
.content h1 {
  font-size: 80px;
  color: white;
  font-weight: 900;
  line-height: 1.2;
}
.content p {
  color: aliceblue;
}

.content .btn {
  border: none;
  outline: none;
  padding: 15px;
  margin-top: 10px;
  border-radius: 4px;
  color: #eee;
  font-size: 18px;
  cursor: pointer;
  background: #222;
}
.btn:hover {
  color: #222;
  background-color: #eee;
}
.container {
  width: 70%;
  margin: 50px auto;
  padding: 10px;
}
.container .box {
  width: 100%;
  padding: 50px;
  background: #fff;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.1);
}
.container {
  background-image: url("../media/aboutme.png");
  background-color: black;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

/* NUTRITION PAGE */
.banner-area-nutrition {
  width: 100%;
  height: 100vh;
  background-image: url("../media/Nutrition.jpg");
  background-size: cover;
}
.content-area-nutrition {
  height: 100%;
}
.content-nutrition {
  max-width: 80%;
  padding: 80px 200px 60px 350px;
  float: right;
}
.content-nutrition h1 {
  font-size: 80px;
  color: black;
  font-weight: 900;
  line-height: 1.2;
}
/* WORKOUT PAGE */

.banner-area-workouts {
  width: 100%;
  height: 100vh;
  background-image: url("../media/Workouts.jpg");
  background-size: cover;
}
.content-area-workouts {
  height: 100%;
}
.content-workouts {
  max-width: 60%;
  padding: 80px 250px 60px 200px;
  float: left;
}
.content-workouts h1 {
  font-size: 80px;
  color: white;
  font-weight: 900;
  line-height: 1.2;
}
.content-workouts p {
  color: aliceblue;
}
/* All other stuff */

.fa-instagram {
  color: white;
  font-size: 30px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 1vh;
}

@media all and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 15vh;
    background-color: rgb(153, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 12vh;
    background-color: rgb(153, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
