* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #801336;
  background-color: black;
}
.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin: 1vh;
  padding: 2vh;
}
.nav-links a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.nav-links li {
  list-style: none;
}
.fa-instagram {
  color: white;
  font-size: 30px;
}
li {
}
img {
  margin: 1vh;
  padding: 2vh;
}
